{% extends 'base.html.twig' %}

{% block body %}
<article>
        <h2>Titre de l'article</h2>
        <div class="metada">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa vitae quo eum debitis iste voluptatibus cum optio perspiciatis. Fugiat cum omnis commodi recusandae doloremque, nisi eaque neque maxime. Nisi, similique!
                Odio, consequatur! Voluptas quisquam libero ipsam nulla optio fugit ratione voluptate odit architecto dignissimos perspiciatis, facilis consequuntur quam molestiae quos sapiente necessitatibus obcaecati blanditiis numquam nesciunt. Error itaque blanditiis soluta.
                Earum ratione laboriosam culpa vel in dolorem aspernatur perspiciatis est sequi nesciunt atque quibusdam, eaque officiis ea sunt odio dolores porro corrupti a consequatur iure cumque aut sapiente! Vero, at?
                Veritatis corrupti ipsam sint beatae hic, architecto optio mollitia modi accusantium, quasi perferendis repellendus incidunt, ex cumque voluptatum quaerat! Nemo, ratione voluptas accusamus optio voluptates facilis laboriosam illum impedit delectus?
                Molestias et aliquam fuga aut quae totam odit dolor ut sapiente quod tempore amet, quaerat corrupti illo temporibus dolorem cum numquam, tempora facilis ex. Eos ab cupiditate nobis consequatur amet.
                Amet quasi quam non consectetur ipsa, voluptatibus aliquam fugit nisi quas maiores odio doloribus nemo necessitatibus veritatis aperiam, quibusdam rem omnis voluptates animi veniam repellat! Nostrum suscipit perspiciatis quaerat odit!  
            </p>
            <p>
                Dolores, laboriosam perferendis sunt quos nesciunt ipsam beatae earum enim, aliquid ipsa odio aperiam accusantium. Quae voluptates harum, quod dolor, porro repellendus cupiditate debitis quasi ratione corrupti necessitatibus doloremque sapiente!
                Doloremque omnis quas quibusdam odit! Voluptate cum impedit eos? Fugit dicta similique maiores necessitatibus, odit est aspernatur, natus eveniet, iure provident quidem officia saepe amet distinctio molestiae impedit nostrum vero!
                Perferendis adipisci ex maxime repellat quidem? Obcaecati quisquam corporis minima repellat autem, dolorem voluptatibus. Repudiandae aut voluptas similique sequi voluptates odit hic quibusdam rerum facilis iure quas, sint quidem nemo.
                Non, dicta a. Porro eum illo cumque minima nesciunt in minus culpa harum, deleniti, sapiente, aspernatur omnis dolor id amet nam eius recusandae dolores dolorum quod repudiandae veritatis eligendi vero!
                Id nihil ducimus perspiciatis iste soluta assumenda recusandae aut autem accusamus, voluptate expedita tempore, at numquam sint veritatis? Laborum dolores excepturi voluptatum tenetur praesentium totam nobis enim aspernatur ullam est.
                Nihil, quia illum eligendi ab ut iusto nostrum accusantium, veritatis suscipit vero, architecto in. Explicabo sapiente minus magni nam quo voluptas dolores sunt tenetur tempore? Repellat, amet. Ullam, repellat quam?
                Quae repellendus veritatis porro minima nostrum in a nulla, quaerat eligendi laudantium ipsa, incidunt tempore ab earum voluptas sit numquam soluta quis qui, nesciunt non. Libero nulla ex cupiditate aut!   
            </p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempora harum rem, aliquid suscipit accusantium corrupti autem culpa nam doloribus corporis impedit quia vel eveniet repellat magnam adipisci itaque blanditiis alias labore et maiores exercitationem voluptatem natus. Repudiandae, tenetur, sed saepe aperiam autem, necessitatibus possimus fugiat nemo laudantium porro quia?</p>
            <p>Aliquid voluptas deserunt veritatis assumenda, totam debitis expedita ipsa. Voluptates reiciendis iste officia error, facilis nemo blanditiis voluptatem explicabo possimus ut mollitia incidunt quasi dolore non cum quod sequi esse qui, delectus laboriosam architecto eius eligendi dicta? Cum sequi sunt, tempora nesciunt explicabo, laborum doloremque beatae recusandae ex ut obcaecati.</p>
        </div>
    </article>
    
{% endblock %}